body{
  background: #141414;
  color:white;

}

.container-fluid .movie-app > .row{
  overflow-x:auto;
  flex-wrap:nowrap;
}

.col-sm{
  position: relative;
  transition: transform 0.2s;
}

.col-sm:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.col-sm:hover .overlay{
  opacity: 1;
}

.overlay{
  position:absolute;
  background: rgb(0,0,0,0.8);
  width: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}